.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.list-item {
  width: 400px;
  padding: 15px;
  background: #ccc;
  margin: 0 auto;
  color: #4d4d4d;
  border: 1px solid #4d4d4d;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

input, button {
  font-size: 20px;
}